.container {
    padding: 20px; /* Adjust the value as needed */
    border-radius: 10px; /* Adjust the value to control the roundness of the border */
    border: 1px solid #ccc; /* Border color and thickness */
    margin: 20px;
  }

  .invalid-input {
    color: red;
    font-size: 80%; /* Reduces font size by 40% */
  }

  .selected-item {
    background-color: #50fd9e; /* Change to the desired background color */
    color: #e7910feb; /* Change to the desired text color */
    /* Add any additional styling for the selected item */
  }

  ion-content {
    --ion-background-color: black;
  }
  
  ion-header {
    --ion-background-color: black;
  }
  
  ion-toolbar {
    --ion-color-base: gold;
  }
  
  ion-title {
    color: white;
  }
  
  p {
    color: white;
  }
  
  .container ion-item {
    --ion-color-base: white;
    --ion-color-base-rgb: 255, 255, 255;
  }
  
  .invalid-input ion-text {
    color: gold;
  }
  
  ion-datetime {
    color: black;
  }
  
  ion-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  ion-card-header {
    background-color: gold;
    color: black;
    font-weight: bold;
  }
  
  ion-label {
    color: white;
  }
  
  ion-input {
    color: black;
  }
  
  ion-button {
    --background: gold;
    --color: black;
  }
  