<p>
  1400 Adoptions and Counting
<br>
 NEW 
 <br>
Ages 14 and under will not be allowed at My Kitty Cafe on Saturdays and Sundays.
<br>
There won’t be any refunds or reschedule if you book and come with anyone 14 and under.
<br>
No age restrictions on Mondays to Fridays.
<br>
My Kitty Cafe - logo
<br>
My Kitty Cafe has successfully partnered with Purrfect Companions of Norfolk Cat Rescue since February 2016. Our goal is to provide a safe, fun-filled environment for adoptable rescue cats to find their furrever families.
</p>
