<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="centered-title">Refund Policy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Flexbox container -->
  <div class="content-container">
    <!-- Main content -->
    <div class="main-content policy-text">
      There won’t be any refunds or reschedule if you book and come with anyone 14 and under on Saturdays and/or Sundays.

      A full refund will be issued if cancelled 24 hours before your booked time. No refunds will be issued for any other reasons.

      No refund will be issued for same day booking and funds will be donated to the kitties at MKC, unless your booking gets refilled by others.

      Refunds are not issued through our website.

      Please contact us to inquire.
    </div>

    <!-- Footer -->
    <app-footer></app-footer>
  </div>
</ion-content>
