<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToBooking()">
        Book Appointment
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
      <p>WHAT EVEN IS IN HERE</p>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <app-info></app-info>
  </div>
</ion-content>
