.custom-header {
    --ion-color-base: #000000; /* Background color */
    --ion-color-contrast: #ffffff; /* Text color */
  }

  .new-background-color{
    --background: #000000;
    color: #ffffff;
}