<ion-app color="light">
  <ion-header [translucent]="true" class="custom-header">
    <ion-toolbar class="new-background-color">
      <ion-title>
        MyKittyCafe
      </ion-title>
      <ion-buttons slot="start">
        <ion-button (click)="navigateHome()">
          <ion-icon slot="icon-only" name="home"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="navigateToBooking()">
          Book Appointment
        </ion-button>
        <div *ngIf="userType === 'employee' || userType === 'admin'">
          <ion-button (click)="navigateToViewAll()">
            View Appointments
          </ion-button>
          <ion-button (click)="logout()">
            Log Out
          </ion-button>
        </div>
        <div *ngIf="userType === undefined || userType === ''">
          <ion-button (click)="navigateToLogin()">
            Login
          </ion-button>
        </div>
        <div *ngIf="userType === 'admin'">
          <ion-button (click)="navigateToRegister()">
            Register
          </ion-button>
        </div>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- Your other content goes here -->
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>