<ion-app color="light">

  <!-- Side Menu -->
  <ion-menu side="start" menuId="main-menu" contentId="main-content">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">Home</ion-item>
        <ion-item routerLink="/refund-policy">Refund Policy</ion-item>
        <ion-item routerLink="/kitty">Meet the Kitties</ion-item>
        <!-- Add more menu items here -->
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Main Content Area -->
  <div id="main-content">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-buttons slot="start">
          <!-- Menu button to toggle the menu -->
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>

        <ion-title (click)="navigateHome()">MyKittyCafe</ion-title>

        <!-- Buttons Section -->
        <ion-buttons slot="end">
          <!-- Display user-related buttons in the toolbar -->
          <ion-label *ngIf="userType">
            Hello, {{ userType }}
          </ion-label>

          <ion-button id="adminBoard" *ngIf="userType === 'employee' || userType === 'admin@gmail.com'" (click)="navigateToAdmin()">
            Admin Board
          </ion-button>

          <ion-button (click)="navigateToBooking()">
            Book Appointment
          </ion-button>

          <ion-button id="viewButton" *ngIf="userType !== 'admin@gmail.com' && userType" (click)="navigateToViewAll()">
            View My Appointments
          </ion-button>

          <ion-button id="viewAllButton"*ngIf="userType === 'employee' || userType === 'admin@gmail.com'" (click)="navigateToViewAll()">
            View Appointments
          </ion-button>

          <ion-button *ngIf="userType != ''" (click)="logout()">
            Log Out
          </ion-button>

          <ion-button *ngIf="userType === undefined || userType === ''" (click)="navigateToLogin()">
            Login
          </ion-button>

          <ion-button *ngIf="userType === undefined || userType === '' || userType === 'admin@gmail.com'" (click)="navigateToRegister()">
            Register
          </ion-button>
        </ion-buttons>

      </ion-toolbar>
    </ion-header>
  </div>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
