<ion-app color="light">

  <!-- Side Menu -->
  <ion-menu side="start" menuId="main-menu" contentId="main-content">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home">Home</ion-item>
        <ion-item routerLink="/refund-policy">Refund Policy</ion-item>
        <ion-item routerLink="/menu">Menu</ion-item>
        <ion-item routerLink="/adopt">Adoption Process</ion-item>
        <!-- Add more menu items here -->

        <!-- Buttons moved to side menu for mobile -->
        <div *ngIf="isMobile">
          <ion-item (click)="navigateToAdmin()" *ngIf="userType === 'employee' || userType === 'admin@gmail.com'">
            Admin Board
          </ion-item>
          <ion-item (click)="navigateToBooking()" *ngIf="userType !== 'admin@gmail.com'">
            Book Appointment
          </ion-item>
          <ion-item (click)="navigateToViewAll()" *ngIf="userType !== 'admin@gmail.com' && userType">
            View My Appointments
          </ion-item>
          <ion-item (click)="navigateToViewAll()" *ngIf="userType === 'employee' || userType === 'admin@gmail.com'">
            View Appointments
          </ion-item>
          <ion-item (click)="logout()" *ngIf="userType != ''">
            Log Out
          </ion-item>
          <ion-item (click)="navigateToLogin()" *ngIf="userType === undefined || userType === ''">
            Login
          </ion-item>
          <ion-item (click)="navigateToRegister()"
            *ngIf="userType === undefined || userType === '' || userType === 'admin@gmail.com'">
            Register
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Main Content Area -->
  <div id="main-content">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-buttons slot="start">
          <!-- Menu button to toggle the menu -->
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>

        <ion-title (click)="navigateHome()">MyKittyCafe</ion-title>
        <ion-label *ngIf="userType" slot="end">
          {{ userType }}
        </ion-label>

        <!-- Buttons Section -->
        <ion-buttons slot="end" *ngIf="!isMobile">
          <!-- Display user-related buttons in the toolbar -->

          <ion-button id="adminBoard" *ngIf="userType === 'employee' || userType === 'admin@gmail.com'"
            (click)="navigateToAdmin()">
            Admin Board
          </ion-button>

          <ion-button (click)="navigateToBooking()" *ngIf="userType !== 'admin@gmail.com'">
            Book Appointment
          </ion-button>

          <ion-button id="viewButton" *ngIf="userType !== 'admin@gmail.com' && userType" (click)="navigateToViewAll()">
            View My Appointments
          </ion-button>

          <ion-button id="viewAllButton" *ngIf="userType === 'employee' || userType === 'admin@gmail.com'"
            (click)="navigateToViewAll()">
            View Appointments
          </ion-button>

          <ion-button *ngIf="userType != ''" (click)="logout()">
            Log Out
          </ion-button>

          <ion-button *ngIf="userType === undefined || userType === ''" (click)="navigateToLogin()">
            Login
          </ion-button>

          <ion-button *ngIf="userType === undefined || userType === '' || userType === 'admin@gmail.com'"
            (click)="navigateToRegister()">
            Register
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
    <!-- Footer Section -->

  </ion-content>
</ion-app>