<div class="footer-content">
  <div>
    <h3>My Kitty Cafe</h3>
    <p>
      117 Wyndham Street North<br>
      Guelph, Ontario N1H 4E9<br>
      Canada
    </p>
    <ion-button color="success">Call Us</ion-button>
    <ion-button color="success" href="https://www.skipthedishes.com/my-kitty-cafe" target="_blank">Skip The Dishes</ion-button>
    <ion-button color="success">Gift Certificates</ion-button>
  </div>

  <div class="footer-social">
    <h4>Help spread the word!</h4>
    <a href="https://www.facebook.com/MyKittyCafe/" target="_blank">
      <ion-icon name="logo-facebook"></ion-icon>
    </a>
    <a href="https://twitter.com/mykittycafe" target="_blank">
      <ion-icon name="logo-twitter"></ion-icon>
    </a>
    <a href="https://www.instagram.com/mykittycafe/" target="_blank">
      <ion-icon name="logo-instagram"></ion-icon>
    </a>
  </div>
</div>