.summary-title {
    font-size: 160%; // 200% of the parent font size
  }
  
  .summary-info {
    font-size: 150%; // 200% of the parent font size
  }
  
  .total-price-title {
    font-size: 150%; // 200% of the parent font size
  }