.login-card, .error-card {
    margin: 30px;
  }
  
  .error-card {
    background-color: #f8d7da; /* Use a different background color for error messages */
    color: #721c24; /* Adjust text color for better visibility */
  }