<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">viewall</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container">
    <h1>All Appointments</h1>
    <div>
      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" name="startDate" [(ngModel)]="startDate">
      <label for="endDate">End Date:</label>
      <input type="date" id="endDate" name="endDate" [(ngModel)]="endDate">
      <button (click)="filterAppointments()">Filter</button>
    </div>
    <div *ngIf="filteredAppointments.length > 0; else noAppointments">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Persons</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of filteredAppointments; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ appointment.firstName }}</td>
            <td>{{ appointment.lastName }}</td>
            <td>{{ appointment.persons }}</td>
            <td>{{ appointment.phone }}</td>
            <td>{{ appointment.email }}</td>
            <td>{{ appointment.date | date: 'medium' : '-0400' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noAppointments>
      <p>No appointments found.</p>
    </ng-template>
  </div>
</ion-content>