<ion-content>
  <div class="adoption-container">
    <a href="https://www.purrfectcompanions.ca/" target="_blank">
      <ion-img class="small-image" src="assets/Puurfect.jpg" alt="Purrfect Companions"></ion-img>
    </a>
    
    <p>
      All cats at MKC are from Purrfect Companions of Norfolk Cat Rescue, a registered non-profit charitable organization operated by volunteers dedicated to cat rescue and adoption.
    </p>
    
    <h2>PCON cats are:</h2>
    <ul>
      <li>spayed or neutered</li>
      <li>vaccinated</li>
      <li>have been microchipped and treated for flea prevention and deworming</li>
      <li>have been tested for FIV and tested NEGATIVE for FeLeuk</li>
      <li><a href="https://www.purrfectcompanions.ca/fiv">The Facts About  FIV and FeLV</a></li>
    </ul>

    <p>
      The MKC residents are all adoption ready for a charitable adoption fee.
    </p>

    <h3>Adoption Fees:</h3>
    <ul>
      <li>$250 per kitten or $400 for a two kitten adoption (under 1 year)</li>
      <li>$175 per kitty or $300 for a two cat adoption (Over 1 year)</li>
      <li>$100 for FIV+ kitty or Senior Cat</li>
      <li>Purebred Cat: Special Price – Please Inquire</li>
    </ul>

    <h2>Adoption Process for Resident Rescue Cats at My Kitty Cafe</h2>
    <p>
      Before beginning the adoption process, it is required that you book a visit or drop-in to My Kitty Cafe (numbers permitting) to meet all of our PCON current resident kitties there.
    </p>
    <a [routerLink]="'/booking'" style="text-decoration: none;">
      <ion-button expand="full">Book a Visit</ion-button>
    </a>

    <p>
      After you’ve met and interacted with a cat that you are interested in adopting, the next step is to submit the online Adoption Application. Please complete all sections with as much detail as possible.
    </p>
    <a href="https://www.purrfectcompanions.ca/adoption-application" target="_blank" style="text-decoration: none;">
      <ion-button expand="full">Submit Adoption Application</ion-button>
    </a>

    <p>
      Purrfect Companions of Norfolk Cat Rescue & Adoptions does not necessarily approve applications in order of receipt. Our goal for our rescues is to match their needs and personalities to an adopter & to strive to place the right cat into the right home. As dedicated adoption volunteers we want to make the best possible match, both for the adopter and for our cats. Our adoption standards and criteria are in place to ensure that this happens. Multiple applications are often received for each resident kitty. Once the best match has been selected, that applicant will be contacted.
    </p>

    <h2>Final Step</h2>
    <p>
      The final step in the adoption process is an adoption meeting at MKC with a PCON Adoptions Volunteer. At the completion of a successful meeting, the kitty will go home and their bio and picture will be removed from the MKC website.
    </p>

    <hr />
    <p>Thanks for your interest in adopting a rescue kitty from PCON.</p>

    <p>
      <a href="https://www.purrfectcompanions.ca" target="_blank">
        Learn more about Purrfect Companions
      </a>
    </p>
  </div>
  <app-footer></app-footer>
</ion-content>
