<ion-content class="ion-text-center">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Thank you for booking!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>Please check your email for a confirmation</p>
    </ion-card-content>
  </ion-card>

  <ion-item class="ion-text-center">
    <ion-label color="success">You've successfully booked an appointment!</ion-label>
  </ion-item>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<app-footer></app-footer>
</ion-content>